<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Library</title>
</head>
<body>
<div th:include="header::head"></div>
<div class="container">
    <div class="row mt-2">
        <div class="col">
            <a th:each="let:${letters}" class="btn btn-outline-success btn-sm" th:text="${let}"
               th:href="@{/byLetter(let=${let})}">...</a>
        </div>
    </div>
    <br/><br/>

    <div class="row">
        <div class="col-2">
            <a class="text-success" href="/main">все книги</a>
            <ul th:each="genre : ${genres}">
                <li style="list-style-type: none">
                    <div class="btn-group">
                        <a class="text-success" href="#" th:href="@{/byGenre(genId = ${genre.id})}"
                           th:text="${genre.name}">...
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <div class="card-group">
                <ul th:each="book : ${books}">
                    <li style="list-style-type: none">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" th:src="@{/pict(pictId=${book.id})}" alt="Card image cap"
                                 style="height: 190px; width:130px; margin: auto"/>
                            <div class="header">
                                <h5 class="card-title" th:text="${book.name}" style="margin: auto">Название
                                    карточки</h5>
                                <br>
                                <span><b th:text="|#{author} ${book.author.name}|">...</b></span><br>
                                <span><b th:text="|#{publisher} ${book.publisher.name}|">...</b></span><br>
                                <span><b th:text="|#{publisherYear} ${book.publisherYear}|">...</b></span><br>
                                <span><b th:text="|#{pageCount} ${book.pageCount}|">...</b></span><br>
                                <span><b th:text="|#{isbn} ${book.isbn}|">...</b></span>
                            </div>
                            <div class="card-body">
                                <p class="card-text" th:text="${book.description}"
                                   style="height: 16rem; overflow-y: scroll">...</p>
                            </div>
                            <div class="card-footer">
                                <a class="card-link" target="_blank" th:href="@{/content(bId=${book.id})}" th:text="#{read}">Читать</a>
                                <a th:if="${isAdmin}" th:href="@{/edit_book(bId=${book.id})}" class="card-link"th:text="#{edit}">Редактировать</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="..." th:if="${pages.size() gt 1}">
                    <ul class="pagination">
                        <li th:class="((${books.isFirst()}) ? 'page-item disabled' : 'page-item')">
                            <a class="page-link" href="#" tabindex="-1" th:href="@{${url}(page=${books.getNumber()-1}, size=${books.size})}" th:text="#{previous}">Previous</a>
                        </li>
                        <li th:class="((${books.getNumber()} == ${page}) ? 'page-item active' : 'page-item')" th:each="page: ${pages}">
                            <a class="page-link" th:text="${page + 1}" th:href="@{${url}(page=${page}, size=${books.size})}">1</a></li>

                        <li th:class="((${books.isLast()}) ? 'page-item disabled' : 'page-item')">
                            <a class="page-link" th:href="@{${url}(page=${books.getNumber()+1}, size=${books.size})}" th:text="#{next}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <div class="btn-group" th:if="${books.getNumberOfElements() gt 1}">
                    <button type="button" class="btn btn-primary" th:text="#{countBook}">Выводить по</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{${url}(page=${books.number}, size=2)}">2</a>
                        <a class="dropdown-item" th:href="@{${url}(page=${books.number}, size=4)}">4</a>
                        <a class="dropdown-item" th:href="@{${url}(page=${books.number}, size=6)}">6</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>